In [73]:
import numpy as np

import pandas as pd

In [2]:
l = ['krushna',1,2,3,4]

In [3]:
type(l)

list

In [5]:
np.array(l)

array(['krushna', '1', '2', '3', '4'], dtype='<U11')

In [7]:
type(np.array(l)) #nd means n-dimensional

numpy.ndarray

In [8]:
np.array([3,4,5,6,7])

array([3, 4, 5, 6, 7])

In [22]:
a1= np.array([3,4,5,6,7.0])

In [17]:
a = np.array([[1,2],[3,45]])

In [16]:
np.array([[1,2],[3,45,5]])

C:\Users\KRUSHNA\AppData\Local\Temp\ipykernel_964\1849100819.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.array([[1,2],[3,45,5]])

In [18]:
a

array([[ 1,  2],
       [ 3, 45]])

In [20]:
a[1][1]

45

In [21]:
a[1]

array([ 3, 45])

In [23]:
a1

array([3., 4., 5., 6., 7.])

In [24]:
a1[1]

4.0

In [27]:
np.array([1,2,3,4],ndmin = 0)

array([1, 2, 3, 4])

In [28]:
np.array([1,2,3,4],ndmin = 2)

array([[1, 2, 3, 4]])

In [33]:
a2 = np.array([1,2,3,4],ndmin = 3)

In [34]:
a2

array([[[1, 2, 3, 4]]])

In [32]:
a2[0]

array([[1, 2, 3, 4]])

In [38]:
a2[0][0]

array([1, 2, 3, 4])

In [39]:
a2[0][0][0]

1

In [40]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [41]:
np.mat([1,2,3,4,5])

matrix([[1, 2, 3, 4, 5]])

In [42]:
a = [1,2,3,4,5]
np.asarray(a)

array([1, 2, 3, 4, 5])

In [43]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [44]:
np.asanyarray(a)

array([1, 2, 3, 4, 5])

In [45]:
np.asanyarray(np.mat(a))

matrix([[1, 2, 3, 4, 5]])

In [46]:
np.fromfunction(lambda i,j : i==j,(3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [52]:
np.fromfunction(lambda i,j : i*j,(4,4))

array([[0., 0., 0., 0.],
       [0., 1., 2., 3.],
       [0., 2., 4., 6.],
       [0., 3., 6., 9.]])

In [53]:
np.fromfunction(lambda i,j : i*j,(4,4),dtype = int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [54]:
np.mat(np.fromfunction(lambda i,j : i*j,(4,4),dtype = int))

matrix([[0, 0, 0, 0],
        [0, 1, 2, 3],
        [0, 2, 4, 6],
        [0, 3, 6, 9]])

# NOTE : matrix is a subclass of array

In [57]:
np.fromfunction(lambda i,j,z : i*j*z,(3,3,2),dtype = int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [58]:
np.mat(np.fromfunction(lambda i,j,z : i*j*z,(3,3,2),dtype = int)) # matrix doesn't shows three dimensional array

ValueError: shape too large to be a matrix.

In [59]:
np.fromfunction(lambda i,j,z : i*j*z,(5,3,2),dtype = int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]],

       [[0, 0],
        [0, 4],
        [0, 8]]])

In [60]:
np.fromfunction(lambda i,j,z,p : i*j*z*p,(4,3,2,2),dtype = int)

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [62]:
a =np.fromfunction(lambda i,j,z,: i*j*z,(4,3,2),dtype = int)
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [63]:
a.ndim

3

In [69]:
a.size

24

In [67]:
a.shape

(4, 3, 2)

In [70]:
a.dtype

dtype('int32')

In [71]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [74]:
pd.DataFrame(a)

ValueError: Must pass 2-d input. shape=(4, 3, 2)

In [75]:
a1 =np.fromfunction(lambda i,j,: i*j,(4,3),dtype = int)
a1

array([[0, 0, 0],
       [0, 1, 2],
       [0, 2, 4],
       [0, 3, 6]])

In [76]:
pd.DataFrame(a1)

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4
3  0  3  6

In [81]:
a2 =np.fromfunction(lambda i,j,: i*j,(400,400),dtype = int)
a2

array([[     0,      0,      0, ...,      0,      0,      0],
       [     0,      1,      2, ...,    397,    398,    399],
       [     0,      2,      4, ...,    794,    796,    798],
       ...,
       [     0,    397,    794, ..., 157609, 158006, 158403],
       [     0,    398,    796, ..., 158006, 158404, 158802],
       [     0,    399,    798, ..., 158403, 158802, 159201]])

In [82]:
pd.DataFrame(a2)

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
2,0,2,4,6,8,10,12,14,16,18,...,780,782,784,786,788,790,792,794,796,798
3,0,3,6,9,12,15,18,21,24,27,...,1170,1173,1176,1179,1182,1185,1188,1191,1194,1197
4,0,4,8,12,16,20,24,28,32,36,...,1560,1564,1568,1572,1576,1580,1584,1588,1592,1596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,154050,154445,154840,155235,155630,156025,156420,156815,157210,157605
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,154440,154836,155232,155628,156024,156420,156816,157212,157608,158004
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,154830,155227,155624,156021,156418,156815,157212,157609,158006,158403
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,155220,155618,156016,156414,156812,157210,157608,158006,158404,158802
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,155610,156009,156408,156807,157206,157605,158004,158403,158802,159201

In [83]:
np.random.rand(100,4)

array([[9.07739080e-01, 7.34805429e-01, 3.31414486e-01, 6.65374487e-01],
       [9.57437693e-01, 2.13560165e-02, 2.47621713e-01, 6.41756327e-01],
       [5.76863388e-02, 5.71621120e-01, 4.45411254e-01, 1.15848131e-01],
       [1.15289155e-01, 2.38094368e-01, 6.54363808e-01, 8.31406504e-01],
       [4.17651927e-01, 6.13165463e-02, 3.16155221e-01, 7.89616698e-01],
       [9.45514942e-01, 3.48334070e-02, 2.00032945e-01, 9.09164322e-01],
       [7.01591319e-01, 4.07040320e-01, 4.95063541e-01, 8.90260975e-01],
       [8.82027302e-01, 2.78967882e-02, 2.39068687e-01, 4.46858767e-02],
       [8.13723232e-01, 9.87639834e-01, 6.66882718e-01, 6.64016486e-01],
       [9.19995682e-01, 5.23649212e-01, 8.96383092e-01, 6.22063280e-01],
       [2.19513432e-01, 7.80483174e-01, 9.53436219e-01, 5.10306848e-01],
       [1.43795633e-01, 8.91683689e-01, 5.25485050e-01, 9.60187285e-01],
       [2.05349191e-01, 6.37586719e-01, 4.76678564e-02, 7.04267074e-01],
       [2.13060300e-01, 1.51524944e-01, 8.80732108e-01, 5.88848719e-01],
       [3.68453317e-01, 2.51048182e-01, 9.04341178e-01, 3.27354072e-01],
       [6.77782501e-01, 8.57151396e-01, 6.59733178e-01, 2.80232869e-01],
       [1.11243584e-01, 8.56983934e-01, 5.57251552e-01, 2.04641100e-01],
       [3.18450978e-01, 9.99904863e-01, 4.68392348e-01, 2.24542999e-01],
       [4.59851223e-01, 8.15909712e-01, 9.22720671e-01, 1.37140491e-01],
       [1.02030422e-01, 1.30653570e-02, 8.56267457e-01, 5.82886639e-01],
       [7.48046965e-01, 3.42952425e-01, 2.08724536e-01, 8.73024601e-02],
       [9.32336025e-01, 7.82621565e-01, 4.06667197e-01, 3.91041464e-01],
       [4.59184744e-01, 5.32465102e-02, 1.15916932e-01, 8.95748489e-04],
       [6.24133302e-01, 3.33938628e-01, 3.42739695e-01, 7.37322694e-01],
       [7.62558247e-01, 1.51654033e-01, 8.32616065e-01, 5.26588103e-01],
       [4.98542448e-01, 8.82684935e-01, 3.70814216e-01, 8.97499012e-02],
       [5.31798311e-01, 8.17664390e-01, 2.43648488e-01, 3.30609659e-01],
       [6.40716913e-01, 4.44526919e-01, 3.85205264e-01, 2.30824091e-01],
       [8.50755529e-01, 9.54920101e-01, 6.78538186e-01, 2.12723609e-01],
       [2.57946655e-01, 2.11970006e-01, 5.21079424e-01, 2.86107678e-01],
       [1.71174583e-01, 7.49636498e-01, 8.69070376e-01, 2.27711433e-01],
       [2.38372887e-01, 5.77289610e-01, 6.70892791e-01, 8.86703415e-01],
       [5.68265613e-01, 7.79839279e-01, 2.77622104e-01, 5.43641529e-01],
       [9.56242017e-01, 4.43902924e-01, 5.01426570e-01, 2.12429895e-01],
       [2.18003676e-01, 8.25080348e-01, 7.66763039e-01, 2.79144924e-01],
       [6.81488955e-01, 9.59944158e-01, 1.98094595e-01, 8.96207674e-01],
       [9.14085521e-01, 3.02986730e-01, 1.98006302e-01, 4.44329624e-01],
       [9.30545810e-01, 5.28807566e-01, 6.13212934e-01, 8.24725559e-01],
       [5.82757830e-02, 9.16946474e-02, 5.50427838e-01, 2.56250197e-01],
       [9.41204574e-01, 5.47726767e-01, 1.32043647e-02, 4.72004648e-02],
       [4.35531746e-01, 1.70686755e-01, 7.71589228e-01, 9.71015657e-02],
       [4.51954270e-01, 7.16274576e-03, 3.21730829e-01, 1.32302673e-02],
       [3.97143251e-01, 1.87130223e-01, 9.19650908e-01, 2.76624644e-01],
       [9.77521529e-01, 5.08076536e-01, 3.98094658e-01, 2.40034608e-01],
       [2.22374922e-01, 7.75886899e-01, 5.33025591e-02, 6.42025977e-01],
       [9.39370873e-01, 5.90569311e-01, 2.84689682e-01, 9.54177610e-01],
       [5.80910405e-01, 3.86272494e-01, 5.27888480e-02, 3.93653551e-01],
       [9.33277990e-01, 1.69738558e-01, 2.83859477e-01, 3.69160152e-01],
       [3.11600262e-01, 5.60708402e-01, 3.23007301e-02, 5.60929884e-02],
       [8.70008724e-01, 6.70124653e-01, 9.49810371e-01, 1.31674324e-01],
       [1.28084778e-02, 6.00783840e-01, 2.60045793e-02, 2.01929664e-01],
       [3.52526462e-01, 3.13261246e-02, 8.80069662e-02, 6.12721583e-01],
       [9.42676157e-01, 4.71390218e-01, 2.98069857e-01, 2.43458488e-01],
       [2.88193410e-01, 4.86431676e-01, 9.30381040e-01, 6.01090176e-02],
       [7.90970452e-01, 5.40674462e-02, 4.08124987e-02, 6.78157885e-01],
       [3.40431167e-01, 1.29643243e-01, 2.32569387e-01, 2.62448337e-01],
       [4.15243415e-01, 5.94398321e-02, 7.16438110e-01, 9.48819273e-01],
       [2.59015002e-01, 7.58528052e-01, 2.19381734e-01, 5.96571465e-01],
       [1.57608024e-01, 8.62334670e-01, 3.82975402e-01, 4.57455379e-01],
       [7.94295297e-01, 1.89927042e-01, 8.79212829e-01, 4.67690034e-01],
       [5.68132219e-01, 5.88805767e-01, 5.80564247e-02, 4.95622804e-01],
       [6.15757937e-01, 7.33925306e-01, 2.23146217e-01, 1.82594052e-01],
       [2.26586292e-01, 6.14747425e-01, 6.46633520e-01, 9.52684184e-01],
       [8.87116524e-01, 4.61016794e-01, 4.47458419e-01, 7.96424662e-01],
       [3.53523701e-01, 6.11945268e-02, 1.55766820e-01, 7.73507290e-01],
       [9.87479969e-01, 9.44907622e-01, 3.51799997e-01, 2.22333981e-01],
       [8.74205992e-02, 8.02841128e-01, 2.68347579e-01, 9.20580506e-01],
       [9.14435291e-01, 8.96728177e-01, 9.34438243e-01, 4.29299767e-01],
       [8.51101297e-01, 6.33984790e-01, 8.70464713e-01, 2.39587247e-01],
       [7.71143108e-01, 6.05657091e-01, 4.61684961e-01, 9.67939848e-01],
       [5.86010896e-01, 3.56802888e-01, 5.90045514e-01, 3.34760189e-02],
       [5.33331260e-01, 6.65758839e-01, 8.70154804e-01, 2.01076834e-01],
       [1.08637273e-01, 1.81547037e-01, 9.01581502e-01, 4.82762324e-01],
       [2.77590790e-01, 6.41421838e-01, 8.17838283e-01, 4.25035988e-01],
       [4.63141007e-01, 5.78666799e-01, 1.07581148e-01, 5.03017981e-02],
       [7.64755618e-01, 6.04674311e-01, 5.59559639e-01, 1.91348375e-01],
       [9.14599629e-01, 1.53027924e-01, 7.21402189e-01, 9.02486544e-01],
       [4.18835231e-01, 3.69395973e-01, 2.95142280e-01, 5.29892839e-01],
       [6.15654143e-01, 3.57441707e-01, 8.13983880e-02, 4.81297488e-01],
       [5.45010786e-01, 7.07546269e-02, 6.47959998e-01, 4.84793372e-01],
       [8.00255082e-01, 7.81701268e-01, 1.78446149e-01, 4.87473499e-01],
       [7.04315084e-01, 5.76378417e-01, 1.73427396e-01, 1.52933482e-01],
       [9.87368497e-01, 9.12243090e-01, 2.81178865e-01, 6.63038889e-01],
       [6.01899712e-01, 8.09116179e-01, 8.53897117e-01, 6.26177140e-02],
       [2.08067805e-01, 2.84434505e-01, 7.16329460e-01, 7.47207385e-02],
       [3.20348818e-01, 2.84698098e-01, 2.76449689e-01, 8.10006728e-01],
       [3.27387615e-01, 2.33846081e-01, 2.06509330e-01, 8.40842138e-01],
       [8.10920279e-01, 5.88488147e-01, 6.53409793e-01, 2.05335717e-01],
       [9.24069096e-01, 7.22827232e-01, 3.81882713e-01, 3.26651057e-01],
       [9.17666023e-01, 6.79547093e-02, 1.72022339e-01, 5.62758866e-01],
       [9.50342292e-01, 3.83535266e-01, 3.44757683e-01, 9.70554697e-01],
       [5.09838320e-01, 3.94688509e-01, 2.90650386e-01, 1.83855386e-01],
       [6.57662320e-02, 1.16209717e-01, 5.85934748e-01, 2.17379957e-01],
       [5.84398158e-01, 9.42104359e-01, 9.33439651e-01, 5.04502499e-01],
       [4.94450783e-01, 7.22923671e-01, 2.91608603e-01, 5.59199143e-01],
       [3.79427926e-01, 7.82801155e-01, 3.40747583e-01, 7.24968476e-01],
       [2.36689435e-01, 4.89131589e-01, 6.38935342e-01, 4.28786624e-01],
       [7.84308200e-01, 1.95453848e-01, 2.00921936e-02, 9.05647457e-01],
       [4.85302844e-01, 8.93401703e-01, 2.89925980e-01, 2.72598729e-01],
       [7.86096430e-01, 5.33230126e-01, 4.61562328e-02, 4.72427178e-01]])

In [85]:
np.random.randint(4,50)#it generates random number between 4 to 50

41

In [86]:
np.random.rand(4,5)

array([[0.10974913, 0.23116453, 0.30538306, 0.11175631, 0.58864769],
       [0.95602549, 0.84374031, 0.88745463, 0.71903339, 0.13457772],
       [0.87666167, 0.40753562, 0.65969482, 0.25505846, 0.03957066],
       [0.10127897, 0.86658425, 0.63180709, 0.12393531, 0.0967186 ]])

In [87]:
pd.DataFrame(np.random.rand(4,5))

          0         1         2         3         4
0  0.701718  0.127628  0.853409  0.323935  0.925357
1  0.548745  0.500354  0.852274  0.624664  0.285870
2  0.558166  0.190534  0.908281  0.736349  0.199154
3  0.364587  0.579001  0.167516  0.723412  0.605200

# how to change the dimension of array

In [89]:
a =np.fromfunction(lambda i,j,z,: i*j*z,(4,3,2),dtype = int)

In [90]:
a.reshape(5,5)

ValueError: cannot reshape array of size 24 into shape (5,5)

In [91]:
a.reshape(12,2) #we can take only multiple of both the number is 24

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 2],
       [0, 0],
       [0, 2],
       [0, 4],
       [0, 0],
       [0, 3],
       [0, 6]])

In [92]:
pd.DataFrame(a.reshape(8,3))

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
3  1  0  2
4  0  0  0
5  2  0  4
6  0  0  0
7  3  0  6

In [93]:
a.reshape(4,2,1,3)

array([[[[0, 0, 0]],

        [[0, 0, 0]]],


       [[[0, 0, 0]],

        [[1, 0, 2]]],


       [[[0, 0, 0]],

        [[2, 0, 4]]],


       [[[0, 0, 0]],

        [[3, 0, 6]]]])